<%- include('../partials/header') %>
  <form action="/games" method="POST">
    <label>Title:
      <input id="wtb" type="text" name="title">
    </label><br>

    <label>Game type
      <select id="wtb" name="gameType">
        <option id="wtb" value="fps">fps</option>
        <option id="wtb" value="souls-like">souls-like</option>
      </select>
    </label><br>

    <label>Last Patch Date:
      <input id="wtb" type="datetime-local" name="lastPatchDate">
    </label><br>
    <button id="wtb" type="submit">Add Game</button>
  </form>
  <p>
    <%= errorMsg %>
  </p>
  <%- include('../partials/footer') %>