<%- include('../partials/header') %>
    <form id="add-review-form" action="/games/<%= info._id %>?_method=PUT" method="POST">
        <label>title: 
            <input id="wtb" type="text" name="title">
        </label><br>

        <label>game type: 
            <select id="wtb" name="gameType">
                <option id="wtb" value="fps">fps</option>
                <option id="wtb" value="souls-like">souls-like</option>
            </select>
        </label><br>

        <label>last patch date: 
            <input id="wtb" type="datetime-local" name="lastPatchDate">
        </label><br>
        <button id="wtb" type="submit">update game</button>
    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>